name: build

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build

      - name: Publish
        run: dotnet publish -c Release
        working-directory: ./EHentaiInfoTelegramBot

      - name: Upload EHentaiInfoTelegramBot Build Artifact
        uses: actions/upload-artifact@v6
        with:
          name: EHentaiInfoTelegramBot
          path: ./EHentaiInfoTelegramBot/bin/Release/net10.0/publish
